<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LogPath" value="D:\Downloads\software\" />
    <add key="FolderPaths" value="D:\Downloads\software;D:\Downloads\software2" />
    <add key="ServicePaths" value="D:\Downloads\sr1;D:\Downloads\sr2" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Test_khoi_Binding" />
      </basicHttpBinding>      
      <security mode="Message">
        <transport clientCredentialType="Windows" proxyCredentialType="None"
            realm="" />
        <message clientCredentialType="Certificate" negotiateServiceCredential="true"
       algorithmSuite="Default" establishSecurityContext="true" />
      </security>
    </bindings>
    <client>
      <endpoint address="http://nav.prentow.com:9047/NAV2019Live/WS/PS%20VN/Codeunit/Test_khoi"
        binding="basicHttpBinding" bindingConfiguration="Test_khoi_Binding"
        contract="FileCallee.Test_khoi_Port" name="Test_khoi_Port" />
    </client>
  </system.serviceModel>
</configuration>